<section id="blogpost">

    <div id="blogpost-heading">
        <h1>Add a New Post</h1>
    </div>

    <div id="blogpost-content">
        <p>Title</p>
        <textarea id="edit-post-title" cols="50" placeholder="Insert title here..."></textarea>
        <br>
        <p>Content</p>
        <textarea id="edit-post-content" rows="10" cols="50" placeholder="wite your truth..."></textarea>
        <button id="submit-post-button">SUBMIT POST</button>
    </div>

</section>
<script src="/js/addPost.js"></script>